body{
    margin: 0 auto;
    max-width: 1920px;
    min-width: 980px;

}

.title{
    text-align: center;
    border: 1px solid;
    margin: 5px auto;
}

.main{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}
.main_title{
    margin: 1rem auto;
    text-align: center;
}

.update{
    margin: 5rem auto;
    padding: 5rem 0;
    text-align: center;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.box{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox-content {
    color: inherit;
    padding: 15px 20px 20px;
    border-width: 1px 0;
    clear: both;
    margin-right: -15px;
    margin-left: -15px;
}
.product-images {
    margin: 0 20px;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}
.ibox-content, .ibox-title {
    background-color: #fff;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}*/

#wrapper {
    width: 100%;
}
#wrapper, body {
    overflow-x: hidden;
}
.pace-done #page-wrapper, .pace-done .footer, .pace-done .nav-header, .pace-done .navbar-static-side, .pace-done li.active {
    -webkit-transition: all .4s;
    transition: all .4s;
}

        #page-wrapper {
            padding: 0 15px;
            min-height: 568px;
            position: relative!important;
        }
        .bg-muted, .gray-bg {
            background-color: #f3f3f4;
        }
